
.item{
    height: 300px;
    width: 65%;
    float: left;
    margin-left:2% ;
    margin-top: 2%;
    box-shadow:0 3px 10px black;
    display: inline-block;

}
   
}
.item2{
    width: 20%;
    float: right;
    margin-top: 2%;
    margin-left:3% %;
}
.tile-component1{
    width: 20%;
    float: left;
    margin-top: 2%;
    margin-left: 3%;

}
.tile-component2{
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #192f60;
    
}
.subline{
    font-size: 25px;
    text-align: center;
    line-height: 0.1;
    color: #192f60;
}
.sub2line{
    font-size: 15px;
    text-align: center;
    line-height: 0.1;
    color: #192f60;
}
#header{
    height: 80px;
    width: 100%;
    background-color: red;
}
#logo{
    text-align: center;
    color:red;
    font-size: 60px;
    background: white;
    height: 80px;
    width: 80%;
    border-radius: 50%; 
    margin-left: 5%;   
}
#header-font{
    float: right;
    margin-right:10px ;
    margin-top: 15px;
}
#header-rectangle{
    text-align: center;
    color: white;
    font-size:25px ;
    background-color: red;
    height: 20px;
    width: 40px;
    border: 1px solid white;  
}
#filter{
    height: 700px;
    width: 20%;
    background-color:white;
    float: left;
    margin-left: 60px;
    margin-bottom:2%;
    box-shadow: 0 3px 10px black;

}
.filtercomp{
    margin-left:20px;
    color:#192f60;
}
.cusine{
    margin-left: 20px
    
}
#checkbox{
    font-size: 20px;
    color:#192f60;
    line-height:1.5;
    
}
#radio1{
    font-size: 20px;
    color:#192f60 ;
    line-height: 1.5;

}
#radio2{
    font-size: 20px;
    color:#192f60 ;
    line-height: 1.5;
}
body{
    margin: auto;
}
@media only screen and (max-width:900px) { 
    .first{
           
        width: 44%;
        margin-top: 2% ;
            
}

#logo{
color: yellow;

}